.SearchField {
  display: flex;
  align-items: center;
  width: 500px;
}

.SearchField-input {
  position: relative;
  width: 500px;
}

.SearchField-dropdown {
  position: relative;
  top: calc(70% + 5px);
  right: 0;
  left: 0;
}

.Button {
  display: inline-block;
  padding: 8px 10px;
  outline: none;
  border: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #ff5722;
  color: #fff;
  cursor: pointer;
}

.Button--withBorderRadiusLeft {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.Button.is-disabled {
  background-color: #9e9e9e;
  cursor: default;
}


.Panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.Panel--default {
    border-color: #ddd;
}